.backdrop{
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.8);
    z-index: 2;
}
#popup{
    background-color: white;
    min-height: 300px;
    max-height: calc(100vh - 100px);
    border-radius: 4px;
    position: relative;
    font-family: Proxima-Regular;
    /*overflow-y: auto;*/
}
.header{
    min-height: 60px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
    font-weight: 600;
}
.btn-close{
    position: absolute;
    right: 15px;
    top: 15px;
    color: black;
    opacity: .8;
    cursor: pointer;
}
.btn-close:hover {
    opacity: 1;
}
.body {
  padding: 10px;
  max-height: calc(100vh - 230px);
  overflow-y: auto;
}
.footer{
    text-align: right;
    padding: 0px 10px 10px 10px;
}
